body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAEAB1 !important;
}

.nav-color{
    background-color: #FAEAB1 !important;
}

.navbar{
    background-color: #E5BA73 !important;
     width: 100%;
}

.table-number{
    background-color: #C58940 !important;
    padding: 12px 24px; border-radius: 12px; font-size: 20px; font-weight: bold;

}

.font-nav {
  font-size: 25px;
  color: #d3d3d3 !important;
  text-decoration: none !important;
  transition: background-color 0.3s ease;
}



.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* กำหนดให้ card เล็กสุด 250px แล้วขยายเต็มแถว */
    gap: 20px; /* ระยะห่างระหว่าง card */
    justify-items: center; /* จัด card ให้อยู่ตรงกลางในแต่ละ column */
    align-items: start;
    padding: 50px;
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub:#666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
}

.switch{
    transform: translateY(-200px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 50px;
    height: 20px;
}

.card-side::before{
    position: absolute;
    content: 'Login';
    left: -70px;
    top: 0;
    width: 100px;
    text-decoration: underline;
    color: var(--font-color);
    font-weight: 600;
}

.card-side1::before{
    position: absolute;
    content: 'Close';
    left: -70px;
    top: 0;
    width: 100px;
    text-decoration: underline;
    color: var(--font-color);
    font-weight: 600;
}

.card-side::after{
    position: absolute;
    content: 'Sign up';
    left: 70px;
    top: 0;
    width: 100px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 600;
}

.card-side1::after{
    position: absolute;
    content: 'Open';
    left: 80px;
    top: 0;
    width: 100px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: 600;
}

.toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color);
    transition: 0.3s;
}

.slider::before{
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;    
}

.toggle:checked + .slider{
    background-color: var(--input-focus);
}

.toggle:checked + .slider::before{
    transform: translateX(30px);
}

.toggle:checked ~ .card-side1::before{
    text-decoration: none;
}
.toggle:checked ~ .card-side::before{
    text-decoration: none;
}


.toggle:checked ~ .card-side1::after{
    text-decoration: underline;
}
.toggle:checked ~ .card-side::after{
    text-decoration: underline;
}

.flip-card_inner {
    position: relative;
    width: 300px;
    height: 350px;
    background-color: transparent;
    perspective: 1000px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.toggle:checked ~ .flip-card_inner {
    transform: rotateY(180deg);
}

.toggle:checked ~ .flip-card_front {
    box-shadow: none;
}

.flip-card_front, .flip-card_back {
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: lightgray;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.flip-card_back {
    transform: rotateY(180deg);
}

.flip-card_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--main-color);
}

.flip-card_input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
     font-weight: 600;
     outline: none;
}

.flip-card_input::placeholder{
    color: var(--font-color-sub);
    opacity: 0.8;
}

.flip-card_input:focus{
    border: 2px solid var(--input-focus);
}

.flip-card_btn:active, .button-confirm:active {
    box-shadow: 0px 0px var(--input-focus);
    transform: scale(3px, 3px);
}

.flip-card_btn {
    margin: 20px 0 20px 0; 
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-weight: 600;
    font-size: 17px;
    color: var(--font-color);
    cursor: pointer;
}

.navbar{
    background-color: #E5BA73 !important;
}

.nav-color{
    background-color: #FAEAB1 !important;
}

.nav-link i {
  margin-bottom: 4px; /* ปรับค่าตามต้องการ */
}





